<div class="row">
    <div class="col-md-12 ot-page-header">
        <!-- Page title & commands -->
        <div class="row">
            <div class="col-md-12">
                <ul class="ot-page-commands">
                    <!-- List of commands -->
                    <li ng-repeat="command in page.commands" ng-if="command.link">
                        <a id="{{command.id}}" ng-click="command.action()">
                            <i class="fa fa-{{command.icon}}"></i>
                            {{command.name | translate}}
                        </a>
                    </li>
                    <!-- Close command -->
                    <li>
                        <a id="page-close" ng-click="page.close()">
                            <i class="fa fa-times"></i>
                            {{'general.close' | translate}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Description -->
        <div class="ot-page-description" ng-if="page.description">
            {{page.description}}
        </div>
    </div>
    <!-- Normal content -->
    <div ng-transclude></div>
</div>