<div class="row">
    <div class="col-md-12 ot-page-header">
        <!-- TODO Breadcrumbs -->
        <!-- Page title & commands -->
        <div class="row">
            <div class="col-md-5">
                <h1>{{page.title}}</h1>
            </div>
            <div class="col-md-7">
                <ul class="ot-page-commands">
                    <!-- Close command -->
                    <li>
                        <a id="page-close" ng-click="page.close()">
                            <i class="fa fa-times"></i>
                            {{'general.close' | translate}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Description -->
        <div class="ot-page-description" ng-if="page.description">
            {{page.description}}
        </div>
    </div>
    <!-- Normal content -->
    <div ng-transclude></div>
</div>