<div class="row">
    <div class="col-md-12" ng-controller="ProjectListCtrl">
        <table class="ot-table ot-project-list">
            <tbody>
                <tr ng-repeat="project in projects.items">
                    <td width="10%">
                        <a href="#{{project.links.view.href}}">{{project.name}}</a>
                        <p>{{project.description}}</p>
                    </td>
                    <td class="ot-project-branches" data-project="{{project.name}}">
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <a href="#/project-create" class="btn btn-default" ng-if="projectCreate">Create project</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>