<div class="row">
    <ul class="ot-page-commands">
        <!-- Dashboard command -->
        <li>
            <a id="home-dashboard" ui-sref="dashboard">
                <i class="fa fa-eye"></i>
                {{'dashboard' | translate}}
            </a>
        </li>
        <!-- Project creation -->
        <li>
            <a id="project-create" ui-sref="project-create" ng-if="projectList.links.projectCreate">
                <i class="fa fa-plus"></i>
                {{'project.create' | translate}}
            </a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="ot-table ot-home-project-list">
            <tbody>
                <tr ng-repeat="project in projectList.items">
                    <td>
                        <a href="#{{project.links.view.href}}">{{project.name}}</a>
                    </td>
                    <td class="ot-home-project-branches">
                        <button ng-repeat="status in project.statuses" class="ot-home-project-branch">
                            <a href="#{{status.branch.links.view.href}}">
                                <b>{{status.branch.name}}</b>
                            </a>
                            <p ng-if="status.lastPromotion">
                                <a href="#{{status.lastPromotion.build.links.view.href}}" class="ot-home-project-branch-last-build">
                                    {{status.lastPromotion.build.name}}
                                </a>
                                <i class="fa fa-arrow-right text-muted"></i>
                                <ot-promotion-level-link self="status.lastPromotion.promotionLevel" />
                            </p>
                            <p ng-if="status.notPromoted">
                                <i class="fa fa-ban text-muted"></i>
                            </p>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>