<div class="row">
    <div class="col-md-12">
        <table class="ot-table ot-home-project-list">
            <tbody>
                <tr ng-repeat="project in projectList.items">
                    <td width="10%">
                        <a href="#{{project.links.view.href}}">{{project.name}}</a>
                        <p>{{project.description}}</p>
                    </td>
                    <td class="ot-home-project-branches" data-project="{{project.name}}">
                    </td>
                </tr>
            </tbody>
            <tfoot ng-if="projectCreate">
                <tr>
                    <td colspan="2">
                        <a href="#/project-create" class="btn btn-default" >Create project</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>