<tr>
    <td>
        <img width="24" height="24" src="gui/project/{{branch.project.name}}/branch/{{branch.name}}/promotion_level/{{name}}/image" />
        <a href="gui/project/{{branch.project.name}}/branch/{{branch.name}}/promotion_level/{{name}}">{{name}}</a>
        {{#autoPromote}}
         <span class="label label-success">{{loc 'promotion_level.autoPromote' }}</span>
        {{/autoPromote}}
        {{#description}}
            <br/>
            <span class="description">{{description}}</span>
        {{/description}}
    </td>
</tr>