<table class="table">
    <thead>
        <tr>
            <th rowspan="3">&nbsp;</th>
            <th rowspan="3">{{loc 'model.build' }}</th>
            <th rowspan="3">{{loc 'branch.promotion_levels' }}</th>
            <th colspan="{{branchBuilds.validationStamps.length}}">
                {{loc 'branch.validation_stamps' }}
                {{#if logged}}
                    <a href="gui/admin/project/{{project}}/branch/{{branch}}/validation_stamp/filter">
                        <i
                            id="validation-stamps-filter-button"
                            class="icon-filter action action-optional {{#if branchBuilds.validationStampsFiltered}}enabled{{/if}}"
                            title="{{loc 'validation_stamp.filter'}}{{#if branchBuilds.validationStampsFiltered}} - {{loc 'validation_stamp.filter.enabled'}}{{/if}}"></i>
                    </a>
                {{/if}}
            </th>
        </tr>
        <tr>
            {{#branchBuilds.validationStamps}}
                <th align="center" class="validation_stamp_header" validation_stamp="{{name}}">
                    <a href="gui/project/{{../project}}/branch/{{branch.name}}/validation_stamp/{{name}}">
                        <img class="tooltip-source" width="24" height="24" title="{{name}}{{#owner}} - {{fullName}}{{/owner}}" src="gui/project/{{../project}}/branch/{{branch.name}}/validation_stamp/{{name}}/image" />
                    </a>
                </th>
            {{/branchBuilds.validationStamps}}
        </tr>
        <tr>
            {{#branchBuilds.validationStamps}}
                <th align="center" class="validation_stamp_header" validation_stamp="{{name}}">
                    <div
                        class="validation-stamp-decorations"
                        data-project="{{../project}}"
                        data-branch="{{branch.name}}"
                        data-validation-stamp="{{name}}"
                        ></div>
                </th>
            {{/branchBuilds.validationStamps}}
        </tr>
    </thead>
    <tbody>
        {{#if branchBuilds.builds.length}}
            {{#branchBuilds.builds}}
                <tr>
                    <td build="{{name}}" style="width:4em;">
                        <input type="radio" name="buildFrom" value="{{name}}" />
                        <input type="radio" name="buildTo" value="{{name}}" />
                    </td>
                    <td class="branch-build build_header" build="{{name}}">
                        <a
                            class="tooltip-source"
                            href="gui/project/{{../project}}/branch/{{../branch}}/build/{{name}}"
                            title="{{description}} - {{signature.elapsedTime}} - {{formattedTime}}">
                            {{name}}
                        </a>
                        <!-- Build decorations -->
                        {{#decorations}}
                            <span class="decoration label label-{{cls}} decoration-{{cls}} {{cls}}">{{title}}</span>
                        {{/decorations}}
                    </td>
                    <td class="build_promotion_level" build="{{name}}">
                        {{#if promotionLevels.length}}
                            <ul class="promotions">
                                {{#promotionLevels}}
                                    <li>
                                        <a class="tooltip-source" href="gui/project/{{../../../project}}/branch/{{../../../branch}}/promotion_level/{{name}}" title="{{signature.elapsedTime}} - {{signature.formattedTime}}">
                                            <i class="icon-arrow-right"></i>
                                            <img width="24" src="gui/project/{{../../../project}}/branch/{{../../../branch}}/promotion_level/{{name}}/image" />
                                            {{name}}
                                        </a>
                                    </li>
                                {{/promotionLevels}}
                            </ul>
                        {{else}}
                            <span class="muted">{{loc 'build.promotion_levels.none' }}</span>
                        {{/if}}
                    </td>
                    {{#../branchBuilds.validationStamps}}
                        <td class="build_validation_stamp" build="{{../name}}" validation_stamp="{{name}}">
                            {{{branchBuildValidationStampFn ../name this}}}
                        </td>
                    {{/../branchBuilds.validationStamps}}
                </tr>
            {{/branchBuilds.builds}}
        {{else}}
            <tr>
                <td colspan="{{totalColspan}}">
                    <div class="alert alert-warning">{{loc 'branch.nobuild' }}</div>
                </td>
            </tr>
        {{/if}}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="{{totalColspan}}">
                <!-- Filter -->
                {{#if logged}}
                    <div class="btn-group">
                        <button id="filter-button" class="btn {{#filterActive}}btn-warning{{/filterActive}}">{{loc 'query' }}</button>
                        <button class="btn dropdown-toggle {{#filterActive}}btn-warning{{/filterActive}}" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {{#if branchBuilds.savedBuildFilters.length}}
                                {{#branchBuilds.savedBuildFilters}}
                                    <li>
                                        <a>
                                            <span data-filter-name="{{name}}" class="action saved-filter">{{name}}</span>
                                            <i data-filter-name="{{name}}" class="action action-optional action-inline saved-filter-delete icon-trash"></i>
                                        </a>
                                    </li>
                                {{/branchBuilds.savedBuildFilters}}
                            {{else}}
                                <li class="disabled"><a>{{loc 'query.nofilter'}}</a></li>
                            {{/if}}
                        </ul>
                    </div>
                {{else}}
                    <button id="filter-button" class="btn {{#filterActive}}btn-warning{{/filterActive}}">{{loc 'query' }}</button>
                {{/if}}
                <!-- Diff actions -->
                {{#diffActions}}
                    <button
                        id="diff-action-{{extension}}-{{name}}"
                        type="button"
                        class="btn diff-action"
                        extension="{{extension}}"
                        name="{{name}}"
                        path="{{path}}"
                        project="{{project}}"
                        branch="{{branch}}"
                        >
                        {{title}}
                    </button>
                {{/diffActions}}
            </td>
        </tr>
    </tfoot>
</table>