<form>
    <p>
        {{loc 'query.withPromotionLevel' }}
        <select id="withPromotionLevel" name="withPromotionLevel" class="input-medium">
            <option value="">&nbsp;</option>
            {{#promotionLevels}}
                <option value="{{name}}">{{name}}</option>
            {{/promotionLevels}}
        </select>
        {{loc 'query.sincePromotionLevel' }}
        <select id="sincePromotionLevel" name="sincePromotionLevel" class="input-medium">
            <option value="">&nbsp;</option>
            {{#promotionLevels}}
                <option value="{{name}}">{{name}}</option>
            {{/promotionLevels}}
        </select>
    </p>
    <p>
        {{loc 'query.withValidationStamp' }}
        <select id="withValidationStamp" name="withValidationStamp" class="input-large">
            <option value="">&nbsp;</option>
            {{#validationStamps}}
                <option value="{{name}}">{{name}}</option>
            {{/validationStamps}}
        </select>
        {{loc 'query.withValidationStamp.status' }}
        <select id="withValidationStampStatus" name="withValidationStampStatus" class="input-medium">
            <option value="">&nbsp;</option>
            {{#statuses}}
                <option value="{{.}}">{{.}}</option>
            {{/statuses}}
        </select>
    </p>
    <p>
        {{loc 'query.sinceValidationStamp' }}
        <select id="sinceValidationStamp" name="sinceValidationStamp" class="input-large">
            <option value="">&nbsp;</option>
            {{#validationStamps}}
                <option value="{{name}}">{{name}}</option>
            {{/validationStamps}}
        </select>
        {{loc 'query.sinceValidationStamp.status' }}
        <select id="sinceValidationStampStatus" name="sinceValidationStampStatus" class="input-medium">
            <option value="">&nbsp;</option>
            {{#statuses}}
                <option value="{{.}}">{{.}}</option>
            {{/statuses}}
        </select>
    </p>
    <p>
        {{loc 'query.limit' }}
        <input id="limit" name="limit" type="number" class="input-mini" min="1" value="10" max="100" maxlength="3" />
    </p>
    <p>
        <button type="submit" class="btn btn-primary">{{loc 'query.submit' }}</button>
        <button id="filter-clear" type="button" class="btn">{{loc 'query.clear' }}</button>
        <button id="filter-cancel" type="button" class="btn btn-link">{{loc 'general.close' }}</button>
    </p>
</form>