<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="build-promotion-promotionLevel">{{loc 'model.promotion_level'}}</label>
        <div class="controls">
            <select id="build-promotion-promotionLevel">
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="build-promotion-creation">{{loc 'build.promote.date'}}</label>
        <div class="controls">
            <div id="build-promotion-creation"></div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="build-promotion-description">{{loc 'model.description'}}</label>
        <div class="controls">
            <textarea id="build-promotion-description" rows="4"></textarea>
        </div>
    </div>
</form>