<div class="dashboard-branch-validationStamps dashboard-section">
    <div class="passed section">
        {{#passed}}
            <img height="24" width="24" src="gui/project/{{stamp.branch.project.name}}/branch/{{stamp.branch.name}}/validation_stamp/{{stamp.name}}/image"/>
        {{/passed}}
    </div>
    <div class="failed section">
        {{#failed}}
            <img height="24" width="24" src="gui/project/{{stamp.branch.project.name}}/branch/{{stamp.branch.name}}/validation_stamp/{{stamp.name}}/image"/>
        {{/failed}}
    </div>
    <div class="notRuns section">
        {{#notRuns}}
            <img height="24" width="24" src="gui/project/{{stamp.branch.project.name}}/branch/{{stamp.branch.name}}/validation_stamp/{{stamp.name}}/image"/>
        {{/notRuns}}
    </div>
</div>