<div id="project-validation-stamp-mgt-error" class="alert alert-error hidden"></div>
<div id="project-validation-stamp-mgt-loading"></div>
<div class="row-fluid">
    <div class="span9">
        <div class="row-fluid">
            <div class="span5">
                {{loc 'validation_stamp.mgt.branch-1'}}
                <br/>
                <select class="project-validation-stamp-mgt-branch" data-target="1">
                    <option value="">{{loc 'validation_stamp.mgt.branch.select'}}</option>
                    {{#.}}
                    <option value="{{name}}">{{name}}</option>
                    {{/.}}
                </select>
            </div>
            <div class="span2 project-validation-stamp-mgt-branch-separator">
                <i class="icon-arrow-right icon-2x"></i>
            </div>
            <div class="span5">
                {{loc 'validation_stamp.mgt.branch-2'}}
                <br/>
                <select class="project-validation-stamp-mgt-branch" data-target="2">
                    <option value="">{{loc 'validation_stamp.mgt.branch.select'}}</option>
                    {{#.}}
                        <option value="{{name}}">{{name}}</option>
                    {{/.}}
                </select>
            </div>
        </div>
    </div>
    <div class="span3">
        &nbsp;
    </div>
</div>
<div class="row-fluid">
    <div class="span9 content">
    </div>
    <div class="span3 commands" style="display:none">
        Commands
    </div>
</div>