<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="project-name">TODO Name</label>
        <div class="controls">
            <input type="text" id="project-name" value="" size="40" maxlength="80" required="required" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="project-description">TODO Description</label>
        <div class="controls">
            <textarea id="project-description" columns="40" maxlength="1000" rows="4"></textarea>
        </div>
    </div>
</form>