{{#stamps}}
    <div class="row-fluid project-validation-stamp-mgt">
        {{#if stamp1}}
            <div class="span5 project-validation-stamp-mgt-present">
                <img height="24" width="24" src="gui/project/{{../../project}}/branch/{{../../branch1}}/validation_stamp/{{name}}/image" />
                {{name}}
            </div>
        {{else}}
            <div class="span5 project-validation-stamp-mgt-absent">
                {{name}}
            </div>
        {{/if}}
        <div class="span2 project-validation-stamp-mgt-separator">
            <input type="checkbox" class="project-validation-stamp-mgt-chk" data-name="{{name}}" />
        </div>
        {{#if stamp2}}
            <div class="span5 project-validation-stamp-mgt-present">
                <img height="24" width="24" src="gui/project/{{../../project}}/branch/{{../../branch2}}/validation_stamp/{{name}}/image" />
                {{name}}
            </div>
        {{else}}
            <div class="span5 project-validation-stamp-mgt-absent">
                {{name}}
            </div>
        {{/if}}
    </div>
{{/stamps}}