{{#properties}}
    <div class="row-fluid">
        <div class="span12 project-validation-stamp-mgt-property alert">
            <table width="100%">
                <thead>
                    <tr>
                        <td colspan="2">
                            <img src="{{iconPath}}" />
                            {{displayName}}
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="24">
                            <i class="icon-chevron-sign-left"></i>
                        </td>
                        <td>
                            <input type="text" class="input-block-level" placeholder="{{loc 'validation_stamp.mgt.property.old'}}" />
                        </td>
                    </tr>
                    <tr>
                        <td width="24">
                            <i class="icon-chevron-sign-right"></i>
                        </td>
                        <td>
                            <input type="text" class="input-block-level" placeholder="{{loc 'validation_stamp.mgt.property.new'}}" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{{/properties}}