{{#if properties.length}}
    <ul class="properties">
        <button id="property-edition-button" type="button" class="btn" style="margin-top:0.5em;margin-bottom:0.5em;">
            <i class="icon-plus-sign action"></i>
            {{loc 'properties.add' }}
        </button>
    </ul>
    <div id="property-add-section" class="hidden alert alert-info">
        <form>
            <select id="property-add-select">
                <option value=""></option>
                {{#properties}}
                    <option value="{{extension}}&#x23;{{name}}">{{displayName}}</option>
                {{/properties}}
            </select>
            <span id="property-add-field"></span>
            <div id="property-add-description"></div>
            <div>
                <button id="property-add-field-submit" type="submit" class="btn btn-primary">{{loc 'general.submit' }}</button>
                <button id="property-add-field-cancel" type="button" class="btn btn-link">{{loc 'general.cancel' }}</button>
            </div>
            <div id="property-add-loading" class="progress progress-striped active">
                <div class="bar" style="width: 100%;">{{loc 'general.loading' }}</div>
            </div>
            <div id="property-add-error" class="alert alert-error">
                <div id="property-add-error-message"></div>
            </div>
        </form>
    </div>
{{/if}}