<ul class="properties">
    {{#properties}}
        <li>
            {{#if iconPath}}
                <img src="{{iconPath}}" />
            {{/if}}
            <span class="description" title="{{displayDescription}}">{{displayName}}:</span>
            {{{html}}}
            {{#editable}}
                <i class="icon-pencil action property-editor-button"
                   edition-extension="{{extension}}"
                   edition-property="{{name}}"></i>
            {{/editable}}
        </li>
    {{/properties}}
</ul>