<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="validation_stamp-owner-dialog-name">{{loc 'model.validation_stamp'}}</label>
        <div class="controls">
            <input type="text" id="validation_stamp-owner-dialog-name" value="" size="40" maxlength="80" readonly="readonly" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="validation_stamp-owner-dialog-owner">{{loc 'validation_stamp.owner'}}</label>
        <div class="controls">
            <select id="validation_stamp-owner-dialog-owner"></select>
        </div>
    </div>
</form>