<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="validation-stamp-name">{{loc 'model.name'}}</label>
        <div class="controls">
            <input type="text" id="validation-stamp-name" value="" size="40" maxlength="80" required="required" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="validation-stamp-description">{{loc 'model.description'}}</label>
        <div class="controls">
            <textarea id="validation-stamp-description" columns="40" maxlength="1000" rows="4"></textarea>
        </div>
    </div>
</form>