/* Bootstrap override */

.nav {
    cursor: pointer;
}

/* app css stylesheet */

a.ot-nav-text {
    cursor: text;
}

/* Page elements */

.ot-page-title > p {
    font-style: italic;
    color: gray;
}

.ot-page-title > h1 {
    display: inline;
}

.ot-commands {
    opacity: 0.5;
    float: right !important;
}

.ot-commands a {
    text-decoration: none;
    color: black;
}

*:hover > .ot-commands {
    opacity: 1.0;
}
