<ot-page>
    <table class="ot-project-branch-list">
        <thead>
            <tr>
                <th>{{'model.name' | translate}}</th>
                <th>{{'branch.lastBuild' | translate}}</th>
                <th>{{'promotion_level.promotions' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in branchLastStatusResourceListResource.items">
                <td class="ot-project-branch">
                    <a href="#{{item.branch.links.view.href}}" class="ot-project-branch-name"><span>{{item.branch.name}}</span></a>
                    <p class="ot-description" ng-if="item.description != ''">
                        {{item.description}}
                    </p>
                </td>
                <td class="ot-project-branch-build">
                    <a href="#{{item.latestBuild.links.view.href}}" ng-if="item.latestBuild">{{item.latestBuild.name}}</a>
                    <i class="fa fa-ban" ng-if="!item.latestBuild"></i>
                </td>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td ng-repeat="promotion in item.promotions">
                                    <div class="ot-project-branch-promotion" ng-if="promotion.build">
                                        <ot-promotion-level-link self="promotion.promotionLevel"></ot-promotion-level-link>
                                        <p>
                                            <i class="fa fa-star-o"></i>
                                            <a href="#{{promotion.build.links.view.href}}">{{promotion.build.name}}</a>
                                        </p>
                                    </div>
                                    <div class="ot-project-branch-promotion ot-project-branch-promotion-none" ng-if="!promotion.build">
                                        <ot-promotion-level-link self="promotion.promotionLevel"></ot-promotion-level-link>
                                        <p>
                                            <i class="fa fa-ban"></i>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</ot-page>