.promotion {
    border: solid 1px darkgray;
    border-radius: 5px;
    padding: 10px;
    background-color: #FFFFFF;
}

.promotion i {
    opacity: 0.50;
}

.promotion.none {
    opacity: 0.30;
    background-color: transparent;
}