table.changelog {
    font-size: 80%;
}

.version.released {
    text-decoration: line-through;
}

ul.version {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.version li {
    display: inline;
}

ul.version li:first-child span.separator {
    display: none;
}
