td.issue-info-label {
    padding-right: 1em;
    font-weight: bold;
}

td.revision-info-label {
    padding-right: 1em;
    font-weight: bold;
}

.label.validationStamp {
    background-color: #dddddd;
    border: solid 1px darkgray;
}

ul.version {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.version li {
    display: inline;
}

ul.version li:first-child span.separator {
    display: none;
}

span.merged > a {
    text-decoration: none;
    color: inherit;
}