table.changelog {
    font-size: 80%;
}

.version.released {
    text-decoration: line-through;
}

ul.version {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.version li {
    display: inline;
}

ul.version li:first-child span.separator {
    display: none;
}

ul.filechange {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.filechange li {
    display: inline;
}

td.info-status-name {
    width: 160px;
}

.info-status-bar {
    height: 16px;
    background-color: #7396BF;
}