<!doctype html>
<html lang="en" ng-app="ontrackApp">
<head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/bootstrap-3.0.2.min.css">
    <script src="lib/angular/angular-1.2.0.min.js"></script>
    <script src="lib/ui-bootstrap-tpls-0.6.0.min.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div ng-controller="ProjectListCtrl">
                    <p class="ot-search-local">
                        Search:
                        <input ng-model="query">
                    </p>
                    <ul class="ot-list ot-project-list">
                        <li ng-repeat="project in projects | filter:query">
                            <span>{{project.name}}</span>
                            <p>
                                {{project.description}}
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>
</html>