.jenkins-job-disabled {
    opacity: 0.45;
}

.jenkins-result-success {
    background-color: #749a02;
    color: white;
}

.jenkins-result-unstable {
    background-color: yellow;
}

.jenkins-result-failed {
    background-color: red;
    color: white;
}

.jenkins-dashboard-section.dashboard-section {
    padding: 20px;
}

.jenkins-dashboard-section p {
    margin: 0px;
}

.jenkins-dashboard-section-title {
    font-size: 200%;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.jenkins-dashboard-section-culprits td {
    padding: 10px;
}

.jenkins-dashboard-section-culprit-claim img {
    border: solid 5px green;
}

.jenkins-dashboard-section-culprit-claim p {
    background-color: green;
    padding: 3px;
}