.jenkins-job-disabled {
    opacity: 0.45;
}

.jenkins-result-success {
    background-color: green;
    color: white;
}

.jenkins-result-unstable {
    background-color: yellow;
}

.jenkins-result-failed {
    background-color: red;
    color: white;
}

.jenkins-dashboard-section {
    padding: 10px;
}

.jenkins-dashboard-section p {
    margin: 0px;
}

.jenkins-dashboard-section-title {
    font-size: 200%;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}