<#include "/lib/layout.html">

<@layout_std page="accounts" script=true breadcrumbs = {loc("home"): ""}>
    <#assign accountId = secAccountId() >
    <table class="table table-hover">
        <thead>
            <tr>
                <th><@lh key="account.name" /></th>
                <th><@lh key="account.fullName" /></th>
                <th><@lh key="account.email" /></th>
                <th><@lh key="account.role" /></th>
                <th><@lh key="account.mode" /></th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <#list accounts as account>
                <tr>
                    <td>${account.name?html}</td>
                    <td>${account.fullName?html}</td>
                    <td><a href="mailto:${account.email?html}">${account.email?html}</a></td>
                    <td><@lh key="account.role." + account.roleName /></td>
                    <td>${account.mode?html}</td>
                    <td>
                        <a href="gui/admin/accounts/${account.id?c}/update" class="btn btn-warning"><@lh key="general.modify" /></a>
                        <#if accountId != account.id>
                            <a href="gui/admin/accounts/${account.id?c}/delete" class="btn btn-danger"><@lh key="general.delete" /></a>
                        </#if>
                    </td>
                </tr>
            </#list>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" onclick="Accounts.createAccount()"><@lh key="account.new" /></button>
    <a href="" class="btn btn-link"><@lh key="general.close" /></a>

    <@dialog id="account-create-dialog">
        <@form_text name="name" label=loc('account.name') size=16 maxlength=16 />
        <@form_text name="fullName" label=loc('account.fullName') maxlength=80 />
        <@form_text name="email" label=loc('account.email') maxlength=80 />

        <!-- Role -->
        <@form_select name="roleName" label=loc('account.role')>
            <@form_select_option value="ROLE_ADMIN" text=loc('account.role.ROLE_ADMIN') />
            <@form_select_option value="ROLE_CONTROLLER" text=loc('account.role.ROLE_CONTROLLER') />
            <@form_select_option value="ROLE_USER" text=loc('account.role.ROLE_USER') />
        </@form_select>

        <div class="help-inline">
            <p><@lh key="account.role.ROLE_ADMIN.help" /></p>
            <p><@lh key="account.role.ROLE_CONTROLLER.help" /></p>
            <p><@lh key="account.role.ROLE_USER.help" /></p>
        </div>

        <!-- Mode -->
        <@form_select name="mode" label=loc('account.mode')>
            <@form_select_option value="builtin" text=loc('account.mode.builtin') />
            <@form_select_option value="ldap" text=loc('account.mode.ldap') />
        </@form_select>

        <!-- Password and confirmation if mode = builtin -->
        <@form_password name="password" label=loc('account.password') />
        <@form_password name="passwordConfirm" label=loc('account.password.confirm') />

        <@dialog_button id="account-create-dialog-submit" class="btn-primary" text=loc('general.create') />
        <@dialog_button_cancel />
    </@dialog>

</@layout_std>