<#include "/lib/layout.html">

<@layout_std page="accounts" breadcrumbs = {loc("home"): ""}>
    <#assign accountId = secAccountId() >
    <table class="table table-hover">
        <thead>
            <tr>
                <th><@lh key="account.name" /></th>
                <th><@lh key="account.fullName" /></th>
                <th><@lh key="account.email" /></th>
                <th><@lh key="account.role" /></th>
                <th><@lh key="account.mode" /></th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <#list accounts as account>
                <tr>
                    <td>${account.name?html}</td>
                    <td>${account.fullName?html}</td>
                    <td><a href="mailto:${account.email?html}">${account.email?html}</a></td>
                    <td><@lh key="account.role." + account.roleName /></td>
                    <td>${account.mode?html}</td>
                    <td>
                        <a href="gui/admin/accounts/${account.id?c}/update" class="btn btn-warning"><@lh key="general.modify" /></a>
                        <#if accountId != account.id>
                            <#if account.mode == "builtin">
                                <a href="gui/admin/accounts/${account.id?c}/passwordReset" class="btn btn-warning"><@lh key="account.passwordReset" /></a>
                            </#if>
                            <a href="gui/admin/accounts/${account.id?c}/delete" class="btn btn-danger"><@lh key="general.delete" /></a>
                        </#if>
                    </td>
                </tr>
            </#list>
        </tbody>
    </table>
    <button id="account-create" type="button" class="btn btn-primary"><@lh key="account.new" /></button>
    <a href="gui/admin/acl" id="account-global-acl" class="btn"><@lh key="acl" /></a>
    <a href="" class="btn btn-link"><@lh key="general.close" /></a>
</@layout_std>