<#include "/lib/layout.html">

<@layout_std page="account.update" script=true breadcrumbs = {loc("home"): "", loc("accounts"): "gui/admin/accounts"}>

    <input id="accountId" type="hidden" value="${account.id?c}" />
    <form id="account-form" class="form-horizontal" onsubmit="AccountUpdate.updateAccount(); return false;">
        <@form_text name="name" label=loc('account.name') value=account.name />
        <@form_text name="fullName" label=loc('account.fullName') value=account.fullName />
        <@form_email name="email" label=loc('account.email') value=account.email/>
        <@form_select name="roleName" label=loc('account.role')>
            <@form_select_option value="ROLE_ADMIN" text=loc('account.role.ROLE_ADMIN') selection=account.roleName />
            <@form_select_option value="ROLE_CONTROLLER" text=loc('account.role.ROLE_CONTROLLER') selection=account.roleName />
            <@form_select_option value="ROLE_USER" text=loc('account.role.ROLE_USER') selection=account.roleName />
        </@form_select>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-warning"><@lh key="general.modify" /></button>
                <a href="gui/admin/accounts" class="btn btn-link"><@lh key="general.cancel" /></a>
            </div>
        </div>
    </form>

    <div id="account-form-error" class="alert alert-error hidden"></div>

</@layout_std>