<#include "/lib/layout.html">

<@layout_std
    page="acl-project"
    title=loc("acl")
    breadcrumbs = {
        loc("home"): "",
        project.name?html: "gui/project/${project.name?html}"
    }>

    <@title value=loc("acl.project", project.name) close="gui/project/${project.name?html}">
    </@title>

    <input id="project" type="hidden" value="${project.name?html}"/>

    <div class="row-fluid">
        <div id="acl-account-form" class="span12 well well-small">
        </div>
    </div>

</@layout_std>