<#include "/lib/layout.html">

<#assign branch = decoratedBranch.summary />

<@layout_std page="branch" title=branch.name modules=["audit","properties"] breadcrumbs = {loc("home"): "", branch.project.name?html: "gui/project/${branch.project.name?html}"}>
    <input id="project" type="hidden" value="${branch.project.name?html}" />
    <input id="branch" type="hidden" value="${branch.name?html}" />
    <@title value=branch.name close="gui/project/${branch.project.name?html}">
        <@title_uplink name=branch.project.name href="gui/project/${branch.project.name?html}" />
        <!-- Decorations -->
        <@title_decorations>
            <#list decoratedBranch.decorations as decoration>
                <@decoration_icon value=decoration />
            </#list>
        </@title_decorations>
        <!-- Branch commands -->
        <#list extensionBranchActions(branch.project.name, branch.name) as branchAction>
            <@title_command id=branchAction.title title=branchAction.title class=branchAction.icon link=branchAction.url />
        </#list>
        <#if secProject(branch.project.id, 'BUILD_CREATE')>
            <@title_command id="command-branch-build-create" title=loc('build.create') class="icon-play-circle" />
        </#if>
        <#if secProject(branch.project.id, 'BRANCH_MODIFY')>
            <@title_command id="command-branch-update" title=loc('general.modify') class="icon-pencil" />
        </#if>
        <#if secProject(branch.project.id, 'BRANCH_CLONE')>
            <@title_command id="command-branch-clone" title=loc('branch.clone') class="icon-forward" link="gui/project/${branch.project.name?html}/branch/${branch.name?html}/clone" />
        </#if>
        <#if secProject(branch.project.id, 'BRANCH_DELETE')>
            <@title_command id="command-branch-delete" title=loc('general.delete') class="icon-trash" />
        </#if>
        <#if secProject(branch.project.id, 'PROMOTION_LEVEL_MGT')>
            <@title_command id="command-branch-promotion-level-mgt" title=loc('promotion_level.manage') class="icon-th" link="gui/project/${branch.project.name?html}/branch/${branch.name?html}/promotion_level_manage" />
        </#if>
        <#if secProject(branch.project.id, 'BUILD_CLEANUP_CONFIG')>
            <@title_command id="command-branch-build-cleanup" title=loc('build.cleanup') class="icon-time" />
        </#if>
        <#if secProject(branch.project.id, 'DASHBOARD_SETUP')>
            <@title_command id="command-branch-dashboard-admin" title=loc('dashboard.admin') class="icon-pencil" link="gui/admin/dashboard/project/${branch.project.name?html}/branch/${branch.name?html}" />
        </#if>
        <@title_command id="command-branch-charts" title=loc('branch.charts') class="icon-signal" link="gui/project/${branch.project.name?html}/branch/${branch.name?html}/charts" />
        <@title_command id="command-branch-dashboard" title=loc('dashboard') class="icon-eye-open" link="dashboard/project/${branch.project.name?html}/branch/${branch.name?html}" />
        <!-- Switch between branches -->
        <@title_tools>
            <div
                id="branch-switch"
                class="dynamic"
                style="display: inline-block;"
                dynamic-controller="branch-switch"
                dynamic-project="${branch.project.name?html}"
                ></div>
        </@title_tools>
    </@title>
    <div class="row-fluid">
        <div class="span12 muted properties">${branch.description?html}</div>
    </div>
    <div class="row-fluid">
        <div class="span12 properties">
            <@properties entity="BRANCH" entityId=branch.id />
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <link rel="stylesheet" type="text/css" href="${base}/css/builds.css" />
            <div id="branch-builds"
                 class="dynamic"
                 dynamic-controller="branch-builds"
                 dynamic-refresh="true"
                 dynamic-project="${branch.project.name?html}"
                 dynamic-branch="${branch.name?html}"
                 dynamic-logged="${ secLogged()?string }"
                 ></div>
            <!-- Diff actions -->
            <#list extensionDiffActions(branch.id) as action>
                <div
                    id="diff-action-${action.extension}-${action.name}-def"
                    class="hidden extension-diff-action"
                    extension="${action.extension}"
                    name="${action.name}"
                    path="${action.path?html}"
                    project="${branch.project.name?html}"
                    branch="${branch.name?html}"
                    title="${action.title?html}"
                    ></div>
            </#list>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <section>
                <h4><@lh key="branch.promotion_levels" /></h4>
                <div
                        id="branch-promotion-levels"
                        class="dynamic"
                        dynamic-controller="branch-promotion-levels"
                        dynamic-project="${branch.project.name?html}"
                        dynamic-branch="${branch.name?html}"
                        ></div>
                <#if secProject(branch.project.id, 'PROMOTION_LEVEL_CREATE')>
                    <button id="promotion-level-create-button" type="button" class="btn"><@lh key="promotion_level.create" /></button>
                </#if>
            </section>
        </div>
        <div class="span3">
            <section>
                <h4><@lh key="branch.validation_stamps" /></h4>
                <div
                        id="branch-validation-stamps"
                        class="dynamic"
                        dynamic-controller="branch-validation-stamps"
                        dynamic-project="${branch.project.name?html}"
                        dynamic-branch="${branch.name?html}"
                        dynamic-admin="${secProject(branch.project.id, 'VALIDATION_STAMP_MODIFY')?string}"
                        ></div>
                <#if secProject(branch.project.id, 'VALIDATION_STAMP_CREATE')>
                    <button id="validation-stamp-create-button" type="button" class="btn"><@lh key="validation_stamp.create" /></button>
                </#if>
            </section>
        </div>
        <div class="span6">
            <@audit filter="&branch=${branch.id?c}" />
        </div>
    </div>

</@layout_std>