<#include "/lib/layout.html">

<@layout_std page="branch" title=branch.name modules=["projects","branches","builds","validation_stamps","promotion_levels","audit"] breadcrumbs = {loc("home"): "", branch.project.name?html: "gui/project/${branch.project.name?html}"}>
	<div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 page-title">
                <span class="title"><a href="gui/project/${branch.project.name?html}">${branch.project.name?html}</a>
                / ${branch.name?html}</span>
                <span class="action action-optional">
                    <#if secAdmin()>
                        <span onclick=""><i class="icon-pencil"></i> <@lh key="general.modify" /></span>
                        <span onclick="Branches.deleteBranch('${branch.project.name?html}','${branch.name?html}')"><i class="icon-trash"></i> <@lh key="general.delete" /></span>
                    </#if>
                    <span onclick="location='gui/project/${branch.project.name?html}'"><i class="icon-remove"></i> <@lh key="general.close" /></span>
                </span>
            </div>
            <div class="muted">${branch.description?html}</div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <@panel>
                    <@builds project=branch.project.name branch=branch.name />
                </@panel>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <@panel title=loc('branch.actions')>
                    <a href="gui/project/${branch.project.name?html}/branch/${branch.name?html}/query" class="btn"><@lh key="build.log" /></a>
                </@panel>
            </div>
        </div>
        <div class="row-fluid">
			<div class="span3">
				<@panel title=loc("branch.promotion_levels")>
                    <@promotion_levels project=branch.project.name branch=branch.name create=secAdmin() />
				</@panel>
            </div>
            <div class="span3">
				<@panel title=loc("branch.validation_stamps")>
					<@validation_stamps project=branch.project.name branch=branch.name create=secAdmin() />
				</@panel>
			</div>
			<div class="span6">
				<@panel title=loc("event.list")>
					<@audit filter="&branch=${branch.id}" />
				</@panel>
			</div>
		</div>
	</div>
</@layout_std>