<#include "/lib/layout.html">

<@layout_std page="build" title=build.name modules=["projects","branches","builds","validation_stamps","audit","properties"] breadcrumbs = {loc("home"): "", build.branch.project.name?html: "gui/project/${build.branch.project.name?html}", build.branch.name?html: "gui/project/${build.branch.project.name?html}/branch/${build.branch.name?html}"}>
    <@build_promotion />
	<div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 page-title">
                <span class="title">
                    <a href="gui/project/${build.branch.project.name?html}">${build.branch.project.name?html}</a>
                    / <a href="gui/project/${build.branch.project.name?html}/branch/${build.branch.name?html}">${build.branch.name?html}</a>
                    / ${build.name?html}
                </span>
                <span class="action action-optional">
                    <#if secAdmin()>
                        <span onclick="Builds.promoteBuild('${build.branch.project.name?html}', '${build.branch.name?html}', '${build.name?html}')"><i class="icon-star"></i> <@lh key="build.promote" /></span>
                    </#if>
                    <a href="gui/project/${build.branch.project.name?html}/branch/${build.branch.name?html}"><i class="icon-remove"></i> <@lh key="general.close" /></a>
                </span>
            </div>
            <div class="span12 muted properties">${build.description?html}</div>
            <div class="span12 properties">
                <@properties entity="BUILD" entityId=build.id />
            </div>
        </div>
		<div class="row-fluid">
            <div class="span9">
                <@panel title=loc("build.validation_stamps")>
                    <@dynamicsection
                        id="build-validation-stamp-list"
                        template="Builds.buildValidationStampTemplate('${build.branch.project.name?html}', '${build.branch.name?html}', '${build.name?html}')">
                    </@dynamicsection>
                    <script id="buildValidationStampsTemplate" type="text/html">
                        <div>
                            <!-- Run and passed -->
                            <div class="build-validation-stamps build-validation-runs">
                                <p><@lh key="build.validation_stamps.runAndPassed" /></p>
                                {{#stamps}}
                                {{#if run}}
                                    {{#if passed}}
                                        <span class="build-validation-run label">
                                            <img class="tooltip-source" width="24" title="{{name}}{{#owner}} - {{fullName}}{{/owner}}" src="gui/project/{{../../../project}}/branch/{{../../../branch}}/validation_stamp/{{../name}}/image" />
                                            <a href="gui/project/{{../../../project}}/branch/{{../../../branch}}/validation_stamp/{{name}}">{{name}}</a>
                                            {{#runs}}
                                                <a href="gui/project/{{../../../../project}}/branch/{{../../../../branch}}/build/{{../../../../build}}/validation_stamp/{{../../name}}/validation_run/{{runOrder}}"><img src="static/images/status-{{status}}.png" title="&#x23;{{runOrder}} - {{status}}" class="tooltip-source" /></a>
                                            {{/runs}}
                                        </span>
                                    {{/if}}
                                {{/if}}
                                {{/stamps}}
                            </div>
                            <!-- Run and not passed -->
                            <div class="build-validation-stamps build-validation-runs">
                                <p><@lh key="build.validation_stamps.runAndFailed" /></p>
                                {{#stamps}}
                                    {{#if run}}
                                        {{^passed}}
                                            <span class="build-validation-run label">
                                                <img class="tooltip-source" width="24" title="{{../name}}{{#../owner}} - {{fullName}}{{/../owner}}" src="gui/project/{{../../../project}}/branch/{{../../../branch}}/validation_stamp/{{../name}}/image" />
                                                <a href="gui/project/{{../../../project}}/branch/{{../../../branch}}/validation_stamp/{{name}}">{{name}}</a>
                                                {{#runs}}
                                                    <a href="gui/project/{{../../../../project}}/branch/{{../../../../branch}}/build/{{../../../../build}}/validation_stamp/{{../name}}/validation_run/{{runOrder}}"><img src="static/images/status-{{status}}.png" title="&#x23;{{runOrder}} - {{status}}" class="tooltip-source" /></a>
                                                {{/runs}}
                                            </span>
                                        {{/passed}}
                                    {{/if}}
                                {{/stamps}}
                            </div>
                            <!-- Not run -->
                            <div class="build-validation-stamps build-validation-notruns">
                                <p><@lh key="build.validation_stamps.notruns" /></p>
                                {{#stamps}}
                                    {{^if run}}
                                            <span class="build-validation-run label">
                                                <img class="tooltip-source" width="24" title="{{name}}{{#owner}} - {{fullName}}{{/owner}}" src="gui/project/{{../../project}}/branch/{{../../branch}}/validation_stamp/{{name}}/image" />
                                                <a href="gui/project/{{../../project}}/branch/{{../../branch}}/validation_stamp/{{name}}">{{name}}</a>
                                                {{#runs}}
                                                    <a href="gui/project/{{../../../project}}/branch/{{../../../branch}}/build/{{../../../build}}/validation_stamp/{{../name}}/validation_run/{{runOrder}}"><img src="static/images/status-{{status}}.png" title="{{status}}" class="tooltip-source" /></a>
                                                {{/runs}}
                                            </span>
                                    {{/if}}
                                {{/stamps}}
                            </div>
                        </div>
                    </script>
                </@panel>
            </div>
            <div class="span3">
                <@panel title=loc("build.promotion_levels")>
                    <@dynamicsection
                        id="build-promotion-level-list"
                        template="Builds.buildPromotionLevelsTemplate('${build.branch.project.name?html}', '${build.branch.name?html}', '${build.name?html}')">
                    </@dynamicsection>
                </@panel>
            </div>
        </div>
        <div class="row-fluid">
			<div class="span12">
				<@audit filter="&build=${build.id}" />
			</div>
		</div>
	</div>
</@layout_std>