<#include "/lib/layout.html">

<@layout_std
    page="build"
    title=build.name
    modules=["audit","properties"]
    breadcrumbs = {
        loc("home"): "",
        build.branch.project.name?html: "gui/project/${build.branch.project.name?html}",
        build.branch.name?html: "gui/project/${build.branch.project.name?html}/branch/${build.branch.name?html}"
    }>
    <input id="project" type="hidden" value="${build.branch.project.name?html}" />
    <input id="branch" type="hidden" value="${build.branch.name?html}" />
    <input id="build" type="hidden" value="${build.name?html}" />
    <@title value=build.name close="gui/project/${build.branch.project.name?html}/branch/${build.branch.name?html}">
        <@title_uplink name=build.branch.project.name href="gui/project/${build.branch.project.name?html}" />
        <@title_uplink name=build.branch.name href="gui/project/${build.branch.project.name?html}/branch/${build.branch.name?html}" />
        <#if secProject(build.branch.project.id, 'PROMOTED_RUN_CREATE')>
            <@title_command id="build-promote" title=loc('build.promote') class="icon-star" />
        </#if>
        <#if secProject(build.branch.project.id, 'BUILD_MODIFY')>
            <@title_command id="build-update" title=loc('general.modify') class="icon-pencil" />
        </#if>
        <#if secProject(build.branch.project.id, 'BUILD_DELETE')>
            <@title_command id="build-delete" title=loc('build.delete') class="icon-trash" />
        </#if>
    </@title>
    <div class="row-fluid">
        <div class="span12 muted properties">${build.description?html}</div>
        <div class="span12 properties">
            <@properties entity="BUILD" entityId=build.id />
        </div>
    </div>
    <div class="row-fluid">
        <div class="span9">
            <section>
                <h4><@lh key="build.validation_stamps" /></h4>
                <div
                    id="build-validation-stamps"
                    class="dynamic"
                    dynamic-controller="build-validation-stamps"
                    dynamic-refresh="true"
                    dynamic-project="${build.branch.project.name?html}"
                    dynamic-branch="${build.branch.name?html}"
                    dynamic-build="${build.name?html}"
                    />
            </section>
        </div>
        <div class="span3">
            <section>
                <h4><@lh key="build.promotion_levels" /></h4>
                <div
                        id="build-promotion-levels"
                        class="dynamic"
                        dynamic-controller="build-promotion-levels"
                        dynamic-refresh="true"
                        dynamic-project="${build.branch.project.name?html}"
                        dynamic-branch="${build.branch.name?html}"
                        dynamic-build="${build.name?html}"
                        dynamic-admin="${secProject(build.branch.project.id, 'PROMOTED_RUN_DELETE')?string}"
                        />
            </section>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <@audit filter="&build=${build.id?c}" />
        </div>
    </div>
</@layout_std>