<#include "/lib/layout.html">

<@layout_root
    page="dashboard"
    title=loc("dashboard") + " - " + dashboard.title
    >
    <style>
        body {
            padding-top: 0px;
        }
    </style>
	<div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <section>
                    <h1><small>${dashboard.title?html}</small></h1>
                </section>
            </div>
        </div>
        <div id="dashboard-error" class="alert alert-error hidden">
        </div>
        <div class="row-fluid">
            <div id="dashboard-page" class="span12">
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div id="dashboard-loading" class="loading description hidden">
                    <@lh key="general.loading" />
                </div>
            </div>
        </div>
	</div>
</@layout_root>