<#include "/lib/layout.html">

<@layout_std page="export" title=loc('export') style=true breadcrumbs = {loc("home"): ""}>
	<div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 page-title">
                <span class="title">
                    <@lh key="export"/>
                </span>
                <span class="action action-optional">
                    <a href=""><i class="icon-remove"></i> <@lh key="general.close" /></a>
                </span>
            </div>
        </div>
        <div id="export-projects" class="row-fluid">
            <div class="span12">
                <h1><small><@lh key="export.project"/></small></h1>
                <div class="row-fluid">
                    <div id="projects" class="span12 dynamic" dynamic-controller="export-project-selection">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <button id="export-next" type="button" class="btn btn-primary"><@lh key="export.next" /></button>
                        <a href="" class="btn btn-link"><@lh key="general.cancel" /></a>
                        <div class="alert alert-error hidden" id="export-error"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="export-progress"></div>
	</div>
</@layout_std>