<#include "/lib/layout.html">

<@layout_std
    page="extensions"
    noscript=true
    breadcrumbs={
        loc("home"):""
    }>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 page-title">
                <span class="title">
                    <@lh key="extensions" />
                </span>
                <span class="action action-optional">
                    <a href=""><i class="icon-remove"></i> <@lh key="general.close" /></a>
                </span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div
                    id="extensions"
                    class="dynamic"
                    dynamic-controller="extensions"
                    ></div>
            </div>
        </div>
    </div>
</@layout_std>