<#include "/lib/layout.html">

<@layout_std page="validation_stamp.filter" modules=["validation_stamps"] style=true script=true breadcrumbs = {loc("home"): "", filteredStamps.branch.project.name?html: "gui/project/${filteredStamps.branch.project.name?html}", filteredStamps.branch.name?html: "gui/project/${filteredStamps.branch.project.name?html}/branch/${filteredStamps.branch.name?html}"}>
    <input type="hidden" id="project" value="${filteredStamps.branch.project.name?html}" />
    <input type="hidden" id="branch" value="${filteredStamps.branch.name?html}" />
	<div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 page-title">
                <span class="title">
                    <a href="gui/project/${filteredStamps.branch.project.name?html}">${filteredStamps.branch.project.name?html}</a>
                    / <a href="gui/project/${filteredStamps.branch.project.name?html}/branch/${filteredStamps.branch.name?html}">${filteredStamps.branch.name?html}</a>
                    / <@lh key="validation_stamp.filter" />
                </span>
                <span class="action action-optional">
                    <a href="gui/project/${filteredStamps.branch.project.name?html}/branch/${filteredStamps.branch.name?html}"><i class="icon-remove"></i> <@lh key="general.close" /></a>
                </span>
            </div>
        </div>
		<div class="row-fluid">
			<div class="span12">
                <table class="table">
                    <tbody>
                        <#list filteredStamps.list as filteredValidationStamp>
                            <tr id="stamp_line_${filteredValidationStamp.stamp.id?c}" class="stamp_line <#if filteredValidationStamp.filtered>filtered</#if>">
                                <td style="width:1em;">
                                    <input
                                            style="vertical-align: baseline;"
                                            type="checkbox"
                                            id="filter_${filteredValidationStamp.stamp.name?html}"
                                            stampId="${filteredValidationStamp.stamp.id?c}"
                                            stamp="${filteredValidationStamp.stamp.name?html}"
                                            filtered="${filteredValidationStamp.filtered?string}"
                                            <#if filteredValidationStamp.filtered>checked="checked"</#if>
                                            onclick="ValidationStampFilter.toggleFilter(this);" />
                                </td>
                                <td class="stamp">
                                    <@validation_stamp_img validationStamp=filteredValidationStamp.stamp />
                                    <@validation_stamp_link validationStamp=filteredValidationStamp.stamp />
                                    <#if filteredValidationStamp.stamp.owner??>
                                        <span class="description">(${filteredValidationStamp.stamp.owner.fullName})</span>
                                    </#if>
                                </td>
                            </tr>
                        </#list>
                    </tbody>
                </table>
			</div>
		</div>
	</div>
        
</@layout_std>