<#include "/lib/layout.html">

<@layout_std
    page="validation-stamp-filter"
    title=loc("validation_stamp.filter")
    style=true
    breadcrumbs = {
        loc("home"): "",
        filteredStamps.branch.project.name?html: "gui/project/${filteredStamps.branch.project.name?html}",
        filteredStamps.branch.name?html: "gui/project/${filteredStamps.branch.project.name?html}/branch/${filteredStamps.branch.name?html}"
    }>
    <input type="hidden" id="project" value="${filteredStamps.branch.project.name?html}" />
    <input type="hidden" id="branch" value="${filteredStamps.branch.name?html}" />
	<div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 page-title">
                <span class="title">
                    <a href="gui/project/${filteredStamps.branch.project.name?html}">${filteredStamps.branch.project.name?html}</a>
                    / <a href="gui/project/${filteredStamps.branch.project.name?html}/branch/${filteredStamps.branch.name?html}">${filteredStamps.branch.name?html}</a>
                    / <@lh key="validation_stamp.filter" />
                </span>
                <span class="action action-optional">
                    <a href="gui/project/${filteredStamps.branch.project.name?html}/branch/${filteredStamps.branch.name?html}"><i class="icon-remove"></i> <@lh key="general.close" /></a>
                </span>
            </div>
        </div>
		<div class="row-fluid">
			<div class="span12">
                <table class="table">
                    <tbody>
                        <#list filteredStamps.list as filteredValidationStamp>
                            <tr id="stamp_line_${filteredValidationStamp.stamp.id?c}" class="stamp_line <#if filteredValidationStamp.filtered>filtered</#if>">
                                <td class="validation-stamp-check-cell">
                                    <input
                                            class="validation-stamp-check"
                                            type="checkbox"
                                            id="filter_${filteredValidationStamp.stamp.name?html}"
                                            stampId="${filteredValidationStamp.stamp.id?c}"
                                            stamp="${filteredValidationStamp.stamp.name?html}"
                                            filtered="${filteredValidationStamp.filtered?string}" />
                                </td>
                                <td class="stamp">
                                    <a href="gui/project/${filteredStamps.branch.project.name?html}/branch/${filteredStamps.branch.name?html}/validation_stamp/${filteredValidationStamp.stamp.name?html}">
                                        <img width="24" height="24" src="gui/project/${filteredStamps.branch.project.name?html}/branch/${filteredStamps.branch.name?html}/validation_stamp/${filteredValidationStamp.stamp.name?html}/image" />
                                        ${filteredValidationStamp.stamp.name?html}
                                    </a>
                                    <#if filteredValidationStamp.stamp.owner??>
                                        <span class="description">(${filteredValidationStamp.stamp.owner.fullName})</span>
                                    </#if>
                                </td>
                            </tr>
                        </#list>
                    </tbody>
                </table>
                <a href="gui/project/${filteredStamps.branch.project.name?html}/branch/${filteredStamps.branch.name?html}" class="btn"><@lh key="general.close" /></a>
			</div>
		</div>
	</div>
        
</@layout_std>