<#include "/lib/layout.html">

<@layout_std page="home" modules=["projectgroups","projects","audit"]>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<@audit />
			</div>
		</div>
        <div class="row-fluid">
            <div class="span6">
                <@panel title=loc("home.projects")>
                    <@projects create=secAdmin() />
                </@panel>
            </div>
            <div class="span6">
                <@panel title=loc("home.projectgroups")>
                    <@projectgroups create=secAdmin() />
                </@panel>
            </div>
        </div>
	</div>
</@layout_std>