<#include "/lib/layout.html">

<@layout_std page="password" script=true breadcrumbs={loc("home"):"", loc("profile"):"gui/admin/profile"}>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 page-title">
                <span class="title">
                    <@lh key="password" />
                </span>
                <span class="action action-optional">
                    <a href="gui/admin/profile"><i class="icon-remove"></i> <@lh key="general.close" /></a>
                </span>
            </div>
        </div>
        <form action="gui/admin/password" method="POST" class="form-horizontal" onsubmit="return Password.controlAndSubmit();">
            <@form_text name="user" label=loc('password.user') value=secDisplayName() extra='readOnly="readOnly"' />
            <@form_password name="oldPassword" label=loc('password.oldPassword') />
            <@form_password name="newPassword" label=loc('password.newPassword') />
            <@form_password name="newPasswordConfirm" label=loc('password.newPassword.confirm') />
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-warning"><@lh key="password.submit" /></button>
                    <a href="gui/admin/profile" class="btn btn-link"><@lh key="general.cancel" /></a>
                </div>
            </div>
            <div id="password-error" class="alert alert-error hidden"></div>
        </form>
    </div>
</@layout_std>