<#include "/lib/layout.html">

<@layout_std
    page="project-validation-stamp-mgt"
    title=loc('validation_stamp.mgt')
    breadcrumbs = {
        loc("home"): "",
        project.name?html: "gui/project/${project.name?html}"
    }>
    <input id="project" type="hidden" value="${project.name?html}" />
	<div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 page-title">
                <span class="title">
                    <a href="gui/project/${project.name?html}">${project.name?html}</a>
                    / <@lh key="validation_stamp.mgt" />
                </span>
                <span class="action action-optional">
                    <a href="gui/project/${project.name?html}"><i class="icon-remove"></i> <@lh key="general.close" /></a>
                </span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
            </div>
        </div>
	</div>
</@layout_std>