<#include "/lib/layout.html">

<@layout_std
    page="project-export"
    title=loc('project.export')
    breadcrumbs = {
        loc("home"): "",
        project.name?html: "gui/project/${project.name?html}"
    }>
    <input id="project" type="hidden" value="${project.name?html}" />
	<div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 page-title">
                <span class="title">
                    <a href="gui/project/${project.name?html}">${project.name?html}</a>
                    / <@lh key="project.export" />
                </span>
                <span class="action action-optional">
                    <a href="gui/project/${project.name?html}"><i class="icon-remove"></i> <@lh key="general.close" /></a>
                </span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div id="project-export-loading" class="loading description">
                    <@lh key="project.export.message" />
                </div>
                <div id="project-export-error" class="alert alert-error hidden">
                </div>
            </div>
        </div>
	</div>

</@layout_std>