<#include "/lib/layout.html">

<@layout_std page="project" title=project.name modules=["projects","branches","audit"] breadcrumbs = {loc("home"): ""}>
	<div class="container-fluid">
		<div id="project-name-row" class="row-fluid">
			<div class="span3">
				<@panel title=project.name>
					<p class="help-block">${project.description?html}</p>
					<p>
                        <#if secAdmin()>
                            <button class="btn"><@lh key="general.modify" /></button>
                            <button class="btn btn-danger" onclick="Projects.deleteProject('${project.name?html}')"><@lh key="general.delete" /></button>
                        </#if>
						<a href="" class="btn btn-link"><@lh key="general.close"/></a>
					</p>
				</@panel>
			</div>
			<div class="span5">
				<@panel title=loc("project.branches")>
					<@branches project=project.name create=secAdmin() />
				</@panel>
			</div>
			<div class="span4">
				<@panel title=loc("event.list")>
					<@audit filter="?project=${project.id}" />
				</@panel>
			</div>
		</div>
	</div>
</@layout_std>