<#include "/lib/layout.html">

<@layout_std page="project" title=project.name modules=["audit","properties"] breadcrumbs = {loc("home"): ""}>
    <input id="project" type="hidden" value="${project.name?html}" />
	<div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 page-title">
                <span class="title">${project.name?html}</span>
                <span class="action action-optional">
                    <#list extensionProjectActions(project.name) as projectAction>
                        <a href="${projectAction.url?html}" class="<#if projectAction.css??>${projectAction.css?html}</#if>">
                            <#if projectAction.icon??>
                                <i class="${projectAction.icon?html}"></i>
                            </#if>
                            ${projectAction.title?html}
                        </a>
                    </#list>
                    <#if secAdmin()>
                        <span id="command-project-update"><i class="icon-pencil"></i> <@lh key="general.modify" /></span>
                        <span id="command-project-delete"><i class="icon-trash"></i> <@lh key="general.delete" /></span>
                    </#if>
                    <a href=""><i class="icon-remove"></i> <@lh key="general.close" /></a>
                </span>
            </div>
            <div class="muted span12 properties">${project.description?html}</div>
            <div class="span12 properties">
                <@properties entity="PROJECT" entityId=project.id />
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3">
                <section>
                    <h4><@lh key="project.branches" /></h4>
                    <div id="branches" class="dynamic" dynamic-controller="branch-list" dynamic-project="${project.name?html}"></div>
                    <#if secAdmin()>
                        <button id="branch-create-button" type="button" class="btn"><@lh key="branch.create" /></button>
                    </#if>
                </section>
            </div>
            <div class="span9">
                <@audit filter="&project=${project.id}" />
            </div>
        </div>
	</div>
</@layout_std>