<#include "/lib/layout.html">

<#macro stamp mode validationStamp promotionLevel="">
    <span class="label action validationStamp ${mode}" data-validationStamp="${validationStamp.name?html}" data-promotionLevel="${promotionLevel?html}">
        <@validation_stamp_img validationStamp=validationStamp />
        <@validation_stamp_link validationStamp=validationStamp />
    </span>
</#macro>

<@layout_std page="promotion-level-management" script=true style=true title=loc('branch.promotion_levels') modules=["audit","projects","branches","builds","validation_stamps","promotion_levels"] breadcrumbs = {loc("home"): "", management.branch.project.name?html: "gui/project/${management.branch.project.name?html}", management.branch.name?html: "gui/project/${management.branch.project.name?html}/branch/${management.branch.name?html}"}>
	<div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 page-title">
                <span class="title">
                    <a href="gui/project/${management.branch.project.name?html}">${management.branch.project.name?html}</a>
                    / <a href="gui/project/${management.branch.project.name?html}/branch/${management.branch.name?html}">${management.branch.name?html}</a>
                / <@lh key="branch.promotion_levels" /></span>
                <span class="action action-optional">
                    <span onclick="location='gui/project/${management.branch.project.name?html}/branch/${management.branch.name?html}'"><i class="icon-remove"></i> <@lh key="general.close" /></span>
                </span>
            </div>
        </div>
        <div class="row-fluid">
			<div class="span9">
                <input id="project" type="hidden" value="${management.branch.project.name?html}" />
                <input id="branch" type="hidden" value="${management.branch.name?html}" />
                <table class="table">
                    <tbody>
                        <#list management.promotionLevelAndStampsList as promotionLevelAndStamps>
                            <tr>
                                <td>
                                    ${promotionLevelAndStamps.promotionLevel.levelNb}
                                    <#if promotionLevelAndStamps_index == 0>
                                        <i class="icon-arrow-up order disabled"></i>
                                    <#else>
                                        <i class="icon-arrow-up action order enabled" onclick="PromotionLevelManagement.up('${promotionLevelAndStamps.promotionLevel.name?html}')"></i>
                                    </#if>
                                    <#if promotionLevelAndStamps_has_next>
                                        <i class="icon-arrow-down action order enabled" onclick="PromotionLevelManagement.down('${promotionLevelAndStamps.promotionLevel.name?html}')"></i>
                                    <#else>
                                        <i class="icon-arrow-down order disabled"></i>
                                    </#if>
                                </td>
                                <td>
                                    <@promotion_level_img promotionLevel=promotionLevelAndStamps.promotionLevel />
                                    <@promotion_level_link promotionLevel=promotionLevelAndStamps.promotionLevel />
                                    <br/>
                                    <span class="muted">${promotionLevelAndStamps.promotionLevel.description?html}</span>
                                </td>
                                <td width="220">
                                    <#if promotionLevelAndStamps.promotionLevel.autoPromote>
                                        <!-- Disables auto-promotion -->
                                        <button id="autoPromote-${promotionLevelAndStamps.promotionLevel.name?html}" type="button" class="autoPromote btn" data-promotionLevel="${promotionLevelAndStamps.promotionLevel.name?html}" data-autoPromote="true" onclick="PromotionLevelManagement.autoPromote(this);"><@lh key="promotion_level.management.notauto" /></button>
                                    <#else>
                                        <#if promotionLevelAndStamps.validationStamps?size gt 0>
                                            <!-- Enables auto-promotion -->
                                            <button id="autoPromote-${promotionLevelAndStamps.promotionLevel.name?html}" type="button" class="autoPromote btn" data-promotionLevel="${promotionLevelAndStamps.promotionLevel.name?html}" data-autoPromote="false" onclick="PromotionLevelManagement.autoPromote(this);"><@lh key="promotion_level.management.auto" /></button>
                                        <#else>
                                            <!-- Enables auto-promotion - disabled until validation stamps are added -->
                                            <button id="autoPromote-${promotionLevelAndStamps.promotionLevel.name?html}" type="button" class="autoPromote btn hidden" data-promotionLevel="${promotionLevelAndStamps.promotionLevel.name?html}" data-autoPromote="false" onclick="PromotionLevelManagement.autoPromote(this);"><@lh key="promotion_level.management.auto" /></button>
                                        </#if>
                                    </#if>
                                </td>
                                <td>
                                    <div id="dropzone-${promotionLevelAndStamps.promotionLevel.name?html}" data-promotionLevel="${promotionLevelAndStamps.promotionLevel.name?html}" class="promotionLevelStamps">
                                        <span class="dropzone-label muted" id="dropzone-label-${promotionLevelAndStamps.promotionLevel.name?html}"><@lh key="promotion_level.management.dropzone" /></span>
                                        <#list promotionLevelAndStamps.validationStamps as validationStamp>
                                            <@stamp mode="promotion" validationStamp=validationStamp promotionLevel=promotionLevelAndStamps.promotionLevel.name />
                                        </#list>
                                    </div>
                                    <div id="loading-indicator-${promotionLevelAndStamps.promotionLevel.name?html}"></div>
                                </td>
                            </tr>
                        </#list>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <@promotion_level_create project=management.branch.project.name branch=management.branch.name />
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="help-block"><@lh key="promotion_level.management.dndhelp" /></div>
			</div>
            <div id="freeValidationStamps" class="span2">
                <span class="dropzone-label muted" id="dropzone-label-free"><@lh key="promotion_level.management.dropzone.free" /></span>
                <#list management.freeValidationStampList as validationStamp>
                    <@stamp mode="free" validationStamp=validationStamp />
                </#list>
            </div>
		</div>
        <div class="row-fluid">
            <div class="span12">
                <@audit filter="&branch=${management.branch.id}" />
            </div>
        </div>
	</div>
</@layout_std>