<#include "/lib/layout.html">

<#macro promotion_level_options selection="">
    <@form_select_option value="" text="" />
    <#list promotionLevels as promotionLevel>
        <@form_select_option value=promotionLevel.name text=promotionLevel.name selection=selection />
    </#list>
</#macro>

<#macro validation_stamp_options selection="">
    <@form_select_option value="" text="" />
    <#list validationStamps as validationStamp>
        <@form_select_option value=validationStamp.name text=validationStamp.name selection=selection />
    </#list>
</#macro>

<#macro statuses selection="">
    <@form_select_option value="" text="" />
    <#list statusList as status>
        <@form_select_option value=status text=status selection=selection />
    </#list>
</#macro>

<@layout_std
    page="query"
    modules=["projects","branches","builds","validation_stamps","promotion_levels","audit"]
    script=true
    breadcrumbs = {
        loc("home"): "",
        branch.project.name?html: "gui/project/${branch.project.name?html}",
        branch.name?html: "gui/project/${branch.project.name?html}/branch/${branch.name?html}"}>
	<div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <input id="project" name="project" type="hidden" value="${branch.project.name?html}" />
                <input id="branch" name="branch" type="hidden" value="${branch.name?html}" />
                <form id="query-form" class="alert alert-info" onsubmit="return Query.launch();">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <@lh key="query.withPromotionLevel" />
                                    <select id="withPromotionLevel" name="withPromotionLevel" class="input-medium">
                                        <@promotion_level_options />
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <@lh key="query.sincePromotionLevel" />
                                    <select id="sincePromotionLevel" name="sincePromotionLevel" class="input-medium">
                                        <@promotion_level_options />
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <@lh key="query.withValidationStamp" />
                                    <select id="withValidationStamp" name="withValidationStamp" class="input-large">
                                        <@validation_stamp_options />
                                    </select>
                                    <@lh key="query.withValidationStamp.status" />
                                    <select id="withValidationStampStatus" name="withValidationStampStatus" class="input-medium">
                                        <@statuses />
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <@lh key="query.sinceValidationStamp" />
                                    <select id="sinceValidationStamp" name="sinceValidationStamp" class="input-large">
                                        <@validation_stamp_options />
                                    </select>
                                    <@lh key="query.sinceValidationStamp.status" />
                                    <select id="sinceValidationStampStatus" name="sinceValidationStampStatus" class="input-medium">
                                        <@statuses />
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <@lh key="query.limit" />
                                    <input id="limit" name="limit" type="number" class="input-mini" min="1" value="20" max="100" maxlength="3" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="submit" class="btn btn-primary"><@lh key="query.submit" /></button>
                                    <button type="button" class="btn" onclick="Query.clear()"><@lh key="query.clear" /></button>
                                    <a href="gui/project/${branch.project.name?html}/branch/${branch.name?html}" class="btn btn-link"><@lh key="general.close" /></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="row-fluid">
            <div id="query-container" class="span12">
                <div id="query-loading" class="progress progress-striped active">
                    <div class="bar" style="width: 100%;"><@lh key="general.loading" /></div>
                </div>
                <div id="query-error" class="alert alert-error">
                    <div id="query-error-message"></div>
                </div>
                <div id="query-result">
                </div>
            </div>
        </div>
	</div>
</@layout_std>