<#include "/lib/layout.html">

<@layout_std page="settings" script=true breadcrumbs={loc("home"):""}>
    <div class="accordion" id="accordion-container">
        <!-- General settings -->
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-container" href="#section-general">
                    <@lh key="settings.general" />
                </a>
            </div>
            <div id="section-general" class="accordion-body collapse">
                <div class="accordion-inner">
                    <form action="gui/admin/settings/general" method="POST" class="form-horizontal">
                        <@form_text idPrefix="general-" name="baseUrl" label=loc("settings.general.baseUrl") class="settings-general" value=general.baseUrl />
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn">
                                    <@lh key="general.submit" />
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Security settings -->
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-container" href="#section-security">
                    <@lh key="settings.security" />
                </a>
            </div>
            <div id="section-security" class="accordion-body collapse">
                <div class="accordion-inner">
                    <form action="gui/admin/settings/ldap" method="POST" class="form-horizontal">
                        <@form_checkbox idPrefix="ldap-" name="enabled" label=loc("ldap.enabled") checked=ldap.enabled />
                        <div id="settings-ldap">
                            <@form_text idPrefix="ldap-" name="host" label=loc("ldap.host") class="settings-ldap" value=ldap.host />
                            <@form_text idPrefix="ldap-" name="port" label=loc("ldap.port") size=5 maxlength=5 class="settings-ldap input-mini" value=ldap.port?c />
                            <@form_text idPrefix="ldap-" name="searchBase" label=loc("ldap.search.base") class="settings-ldap input-large" value=ldap.searchBase />
                            <@form_text idPrefix="ldap-" name="searchFilter" label=loc("ldap.search.filter") class="settings-ldap input-large" value=ldap.searchFilter />
                            <@form_text idPrefix="ldap-" name="user" label=loc("ldap.user") class="settings-ldap" value=ldap.user />
                            <@form_password idPrefix="ldap-" name="password" label=loc("ldap.password") class="settings-ldap" value=ldap.password />
                            <@form_text idPrefix="ldap-" name="fullNameAttribute" label=loc("ldap.fullNameAttribute") value=ldap.fullNameAttribute required=false />
                            <@form_text idPrefix="ldap-" name="emailAttribute" label=loc("ldap.emailAttribute") value=ldap.emailAttribute required=false />
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn">
                                    <@lh key="general.submit" />
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Mail settings -->
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-container" href="#section-mail">
                    <@lh key="settings.mail" />
                </a>
            </div>
            <div id="section-mail" class="accordion-body collapse">
                <div class="accordion-inner">
                    <form action="gui/admin/settings/mail" method="POST" class="form-horizontal">
                        <@form_text idPrefix="mail-" name="host" label=loc("mail.host") class="settings-mail" value=mail.host required=false />
                        <@form_text idPrefix="mail-" name="user" label=loc("mail.user") class="settings-mail" value=mail.user required=false />
                        <@form_password idPrefix="mail-" name="password" label=loc("mail.password") class="settings-mail" value=mail.password required=false />
                        <@form_checkbox idPrefix="mail-" name="authentication" label=loc("mail.authentication") checked=mail.authentication/>
                        <@form_checkbox idPrefix="mail-" name="startTls" label=loc("mail.startTls") checked=mail.startTls/>
                        <@form_text idPrefix="mail-" name="replyToAddress" label=loc("mail.replyToAddress") class="settings-mail" value=mail.replyToAddress required=false />
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn">
                                    <@lh key="general.submit" />
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Extensions -->
        <#list extensions as extension>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-container" href="#section-${extension.extension?html}-${extension.name?html}">
                        ${extension.title?html}
                    </a>
                </div>
                <div id="section-${extension.extension?html}-${extension.name?html}" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <form action="gui/admin/settings/extension/${extension.extension?html}/${extension.name?html}" method="POST" class="form-horizontal">
                            <#list extension.fields as field>
                                <div class="control-group">
                                    <#assign fieldId = "extension-${extension.extension}-${extension.name}-${field.name}" />
                                    <label class="control-label" for="${fieldId?html}">${field.displayName?html}</label>
                                    <div class="controls">
                                        <#if field.type == "password">
                                            <input id="${fieldId?html}" name="${field.name?html}" type="password" class="input-large" maxlength="200" value="${field.value!''?html}" />
                                        <#elseif field.type == "memo">
                                            <textarea id="${fieldId?html}" name="${field.name?html}" class="input-large" maxlength="200" rows="5">${field.value!''?html}</textarea>
                                        <#else>
                                            <input id="${fieldId?html}" name="${field.name?html}" type="text" class="input-large" maxlength="200" value="${field.value!''?html}" />
                                        </#if>
                                    </div>
                                </div>
                            </#list>
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn">
                                        <@lh key="general.submit" />
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </#list>
    </div>
    <!-- Going back to the home page -->
    <a href="" class="btn btn-info"><@lh key="general.close"/></a>
</@layout_std>