<#include "/lib/layout.html">

<@layout_std page="settings" script=true>
    <div class="accordion" id="accordion-container">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-container" href="#section-security">
                    <@lh key="settings.security" />
                </a>
            </div>
            <div id="section-security" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <form action="gui/admin/settings/ldap" method="POST" class="form-horizontal">
                        <@form_checkbox idPrefix="ldap-" name="enabled" label=loc("ldap.enabled") checked=ldap.enabled />
                        <div id="settings-ldap">
                            <@form_text idPrefix="ldap-" name="host" label=loc("ldap.host") class="settings-ldap" value=ldap.host />
                            <@form_text idPrefix="ldap-" name="port" label=loc("ldap.port") size=5 maxlength=5 class="settings-ldap input-mini" value=ldap.port />
                            <@form_text idPrefix="ldap-" name="searchBase" label=loc("ldap.search.base") class="settings-ldap input-large" value=ldap.searchBase />
                            <@form_text idPrefix="ldap-" name="searchFilter" label=loc("ldap.search.filter") class="settings-ldap input-large" value=ldap.searchFilter />
                            <@form_text idPrefix="ldap-" name="user" label=loc("ldap.user") class="settings-ldap" value=ldap.user />
                            <@form_password idPrefix="ldap-" name="password" label=loc("ldap.password") class="settings-ldap" value=ldap.password />
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn">
                                    <@lh key="general.submit" />
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <a href=""><@lh key="general.close"/></a>
</@layout_std>