<#include "/lib/layout.html">

<@layout_std page="validationRun" script=true title="#${validationRun.runOrder?string}"
    modules=["projects","branches","builds","validation_stamps","audit","properties"]
    breadcrumbs = {
        loc("home"): "",
        validationRun.build.branch.project.name?html:
            "gui/project/${validationRun.build.branch.project.name?html}",
        validationRun.build.branch.name?html:
            "gui/project/${validationRun.build.branch.project.name?html}/branch/${validationRun.build.branch.name?html}",
        validationRun.validationStamp.name?html:
            "gui/project/${validationRun.build.branch.project.name?html}/branch/${validationRun.build.branch.name?html}/validation_stamp/${validationRun.validationStamp.name?html}"}>
	<div class="container-fluid">
        <input id="validationRunId" type="hidden" value="${validationRun.id}" />
		<div class="row-fluid">
            <div class="span12 page-title">
                <span class="title">
                    <a href="gui/project/${validationRun.build.branch.project.name?html}">${validationRun.build.branch.project.name?html}</a>
                    / <a href="gui/project/${validationRun.build.branch.project.name?html}/branch/${validationRun.build.branch.name?html}">${validationRun.build.branch.name?html}</a>
                    / <a href="gui/project/${validationRun.build.branch.project.name?html}/branch/${validationRun.build.branch.name?html}/build/${validationRun.build.name?html}">${validationRun.build.name?html}</a>
                    / <a href="gui/project/${validationRun.build.branch.project.name?html}/branch/${validationRun.build.branch.name?html}/validation_stamp/${validationRun.validationStamp.name?html}"><@validation_stamp_img validationStamp=validationRun.validationStamp /> ${validationRun.validationStamp.name?html}</a>
                / #${validationRun.runOrder?html}</span>
                <span class="action action-optional">
                    <span onclick="location='gui/project/${validationRun.build.branch.project.name?html}/branch/${validationRun.build.branch.name?html}/build/${validationRun.build.name?html}'"><i class="icon-remove"></i> <@lh key="general.close" /></span>
                </span>
            </div>
            <#if validationRun.description != "">
                <div class="span12 muted">${validationRun.description?html}</div>
            </#if>
            <div class="span12">
                <@properties entity="VALIDATION_RUN" entityId=validationRun.id />
            </div>
            <div class="span12">
                <img id="current-status-img" src="${base}/images/status-${validationRun.validationRunStatus.status}.png" />
                <span id="current-status-label"><b>${validationRun.validationRunStatus.status}</b></span>
            </div>
        </div>
        <#if secLogged()>
            <div class="row-fluid">
                <div class="span12">
                    <button class="btn btn-link" onclick="ValidationRun.updateStatus()"><i class="icon-comment"></i> <@lh key="validationRunStatus.new" /></button>
                    <@dynamicsection id="updateStatus" template="ValidationRun.statusUpdateDataTemplate(${validationRun.id?c})">
                    </@dynamicsection>
                    <script id="statusUpdateDataTemplate" type="text/html">
                        <form id="statusUpdate-form" class="hidden alert alert-info">
                            <@form_memo name="description" label="" class="input-block-level" placeholder=loc("validationRunStatus.description") maxlength=1000 />
                            {{#if editableProperties.length}}
                                <table>
                                    <tbody>
                                        {{#editableProperties}}
                                            <tr>
                                                <td style="padding-right:1em;">
                                                    <label class="control-label" for="{{extension}}-{{name}}-field">{{displayName}}</label>
                                                </td>
                                                <td class="update-status-property" extension="{{extension}}" property="{{name}}">
                                                    {{{htmlForEdit}}}
                                                </td>
                                            </tr>
                                        {{/editableProperties}}
                                    </tbody>
                                </table>
                            {{/if}}
                            <div id="statusUpdate-error" class="hidden alert alert-error"></div>
                            <@form_buttons>
                                <!-- Comment -->
                                <button type="button" class="btn" onclick="ValidationRun.sendStatus('')"><img width="24" height="24" src="${base}/images/comment.png" /> <@lh key="validationRunStatus.status.none" /></button>
                                <!-- Available statuses -->
                                {{#nextStatusList}}
                                    <button type="button" class="btn" onclick="ValidationRun.sendStatus('{{.}}')"><img src="${base}/images/status-{{.}}.png" /> {{.}}</button>
                                {{/nextStatusList}}
                                <!-- Cancel -->
                                <button type="button" class="btn btn-link" onclick="ValidationRun.cancelUpdateStatus()"><@lh key="general.cancel" /></button>
                            </@form_buttons>
                        </form>
                    </script>
                </div>
            </div>
        </#if>
        <div class="row-fluid">
            <div class="span7">
                <@panel title=loc("validationRun.history")>
                    <@dynamicsection id="history" template="ValidationRun.historyTemplate(${validationRun.id?c})" />
                    <script id="historyItemTemplate" type="text/html">
                        <tr>
                            <td>
                                {{#if status}}
                                    <img width="24" height="24" src="static/images/status-{{status}}.png" />
                                    <b>{{status}}</b>
                                    - {{content}}
                                {{else}}
                                    <img width="24" height="24" src="static/images/comment.png" />
                                    {{content}}
                                {{/if}}
                                <span class="elapsed" title="{{signature.formattedTime}}">{{signature.elapsedTime}}</span>
                            </td>
                        </tr>
                    </script>
                </@panel>
            </div>
            <div class="span5">
                <@panel title=loc("event.list")>
                    <@audit filter="&validationRun=${validationRun.id?c}" />
                </@panel>
            </div>
        </div>
	</div>
</@layout_std>