<#include "/lib/layout.html">

<@layout_std
    page="validation-run"
    style=true
    title="#${validationRun.runOrder?string}"
    modules=["audit","properties"]
    breadcrumbs = {
        loc("home"): "",
        validationRun.build.branch.project.name?html:
            "gui/project/${validationRun.build.branch.project.name?html}",
        validationRun.build.branch.name?html:
            "gui/project/${validationRun.build.branch.project.name?html}/branch/${validationRun.build.branch.name?html}",
        validationRun.validationStamp.name?html:
            "gui/project/${validationRun.build.branch.project.name?html}/branch/${validationRun.build.branch.name?html}/validation_stamp/${validationRun.validationStamp.name?html}"}>
    <input id="validationRunId" type="hidden" value="${validationRun.id?c}" />
    <input id="project" type="hidden" value="${validationRun.build.branch.project.name?html}" />
    <input id="branch" type="hidden" value="${validationRun.build.branch.name?html}" />
    <input id="build" type="hidden" value="${validationRun.build.name?html}" />
    <input id="validationStamp" type="hidden" value="${validationRun.validationStamp.name?html}" />
    <input id="validationRunOrder" type="hidden" value="${validationRun.runOrder?c}" />
    <@title value="#${validationRun.runOrder?c}" close="gui/project/${validationRun.build.branch.project.name?html}/branch/${validationRun.build.branch.name?html}/build/${validationRun.build.name?html}">
        <@title_uplink name=validationRun.build.branch.project.name href="gui/project/${validationRun.build.branch.project.name?html}" />
        <@title_uplink name=validationRun.build.branch.name href="gui/project/${validationRun.build.branch.project.name?html}/branch/${validationRun.build.branch.name?html}" />
        <@title_uplink name=validationRun.build.name href="gui/project/${validationRun.build.branch.project.name?html}/branch/${validationRun.build.branch.name?html}/build/${validationRun.build.name?html}" />
        <@title_uplink
            name=validationRun.validationStamp.name
            href="gui/project/${validationRun.build.branch.project.name?html}/branch/${validationRun.build.branch.name?html}/validation_stamp/${validationRun.validationStamp.name?html}"
            image="gui/project/${validationRun.build.branch.project.name?html}/branch/${validationRun.build.branch.name?html}/validation_stamp/${validationRun.validationStamp.name?html}/image"
            />
        <@title_command id="validation-run-delete" title=loc('general.delete') class="icon-trash" enabled=secProject(validationRun.build.branch.project.id, 'VALIDATION_RUN_DELETE') />
    </@title>
    <div class="row-fluid">
        <#if validationRun.description != "">
            <div class="span12 properties muted">${validationRun.description?html}</div>
        </#if>
        <div class="span12 properties">
            <@properties entity="VALIDATION_RUN" entityId=validationRun.id />
        </div>
        <div class="span12 properties">
            <img id="current-status-img" src="${base}/images/status-${validationRun.validationRunStatus.status}.png" />
            <span id="current-status-label"><b><@lh key="status.${validationRun.validationRunStatus.status}"/></b></span>
        </div>
    </div>
    <#if secLogged()>
        <div class="row-fluid">
            <div class="span12">
                <div
                    id="validation-run-status"
                    class="dynamic"
                    dynamic-controller="validation-run-status"
                    dynamic-run="${validationRun.id?c}"
                    />
            </div>
        </div>
    </#if>
    <div class="row-fluid">
        <div class="span7">
            <section>
                <h4><@lh key="validationRun.history" /></h4>
                <div
                    id="validation-run-history"
                    class="dynamic"
                    dynamic-controller="validation-run-history"
                    dynamic-validationrunid="${validationRun.id?c}"
                    dynamic-validationbuildid="${validationRun.build.id?c}"
                    dynamic-more="true"
                    />
            </section>
        </div>
        <div class="span5">
            <@audit filter="&validationRun=${validationRun.id?c}" />
        </div>
    </div>
</@layout_std>