td.branch-build a {
    font-weight: bold;
    font-size: 120%;
}

td.build-hover {
    background-color: #FFEEEE;
}

td.validation-stamp-hover {
    background-color: #FFFFEE;
}

ul.promotions {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.promotions li {
    display: inline;
}

ul.promotions li:first-child i {
    display: none;
}
