td.branch-build a {
    font-weight: bold;
    font-size: 120%;
}

td.build-hover {
    background-color: #FFEEEE;
}

td.validation-stamp-hover {
    background-color: #FFFFEE;
}

span.decoration {
    font-size: 75%;
    font-weight: normal;
}

#validation-stamps-filter-button.enabled {
    border: solid 2px red;
}

ul.validation-stamp-decoration {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
