body {
    padding: 1em;
}

table.dashboard {
    table-layout: fixed;
}

table.dashboard h1 {
    margin-top: 0px;
}

table.dashboard td {
    padding: 7.5px;
}

.dashboard-section {
    margin-bottom: 15px;
    border-radius: 10px;
    border: solid 1px darkgray;
    padding: 15px;
    font-size: 200%;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dashboard-validation-stamp-passed {
    background-color: #749a02;
    color: white;
}

.dashboard-validation-stamp-failed {
    background-color: red;
    color: white;
}

.dashboard-validation-stamp-notrun {
    opacity: 0.35;
}