/* Pointer */
.action {
	cursor: pointer;
}

/* Time elapsed */
.elapsed {
	font-size: 0.75em;
	color: lightgray;
	font-style: italic;
}

/* Page title */

.page-title {
}

.page-title .title {
    font-weight: bold;
    font-size: 150%;
}

/* Loading indicator */
.loading {
	padding-left: 24px;
	background-image: url('../images/ajax-loader.gif');
	background-repeat: no-repeat;
}

/* Templates */
.template {
	display: none;
}

/* Error indicator */
.x-error {
	display: none;
}

/* Initial state for a dialog: hidden */
.x-dialog {
	display: none;
}

/* Events */
.event-value {
    font-weight: bold;
    font-style: italic;
}
.event-author {
    font-weight: bold;
}
.event-icon {
	padding-right: 1em;
	float: left;
}

/* Action visible only when container is hovered */
.action.action-optional {
	opacity: 0;
}
*:hover > .action.action-optional {
	opacity: 0.5;
}

/* Validation stamps and their runs */

 .validation-stamp-norun {
    opacity: 0.25;
 }

.validation-run {
    font-size: 75%;
    margin: 0px;
}

.validation-run-status {
    font-weight: bold;
}

.validation-run-description {
    font-style: italic;
    color: gray;
}

/* Run statuses */
/* See the Status enum */

.status-NONE {
    border-left: solid 0.5em white;
    padding-left: 1em;
}

.status-PASSED {
    border-left: solid 0.5em #11FF11;
    padding-left: 1em;
}

.status-INTERRUPTED {
    border-left: solid 0.5em #666666;
    padding-left: 1em;
}

.status-FAILED {
    border-left: solid 0.5em #DD0000;
    padding-left: 1em;
}

.status-INVESTIGATED {
    border-left: dashed 0.5em #3290E3;
    padding-left: 1em;
}

.status-DEFECTIVE {
    border-left: solid 0.5em #FA8219;
    padding-left: 1em;
}
