/* Pointer */
.action {
	cursor: pointer;
}

/* Time elapsed */
.elapsed {
	font-size: 0.75em;
	color: lightgray;
	font-style: italic;
}

/* Loading indicator */
.loading {
	padding-left: 24px;
	background-image: url('../images/ajax-loader.gif');
	background-repeat: no-repeat;
}

/* Templates */
.template {
	display: none;
}

/* Error indicator */
.x-error {
	display: none;
}

/* Initial state for a dialog: hidden */
.x-dialog {
	display: none;
}