ul.project-validation-stamp-mgt {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.project-validation-stamp-mgt > li {
    border-top: solid 1px #d3d3d3;
    padding: 10px;
    height: 1.5em;
    line-height: 1.2em;
}

ul.project-validation-stamp-mgt > li:hover {
    background-color: #e4e4e4;
}
