.validationStamp.label {
    margin-top: 2px;
    margin-left: 2px;
    height: 24px;
}

span.validationStamp > a {
    text-decoration: none;
}

i.order.disabled {
    opacity: 0.0;
}

i.order.enabled {
    opacity: 0.25;
}

i.order.enabled:hover {
    opacity: 1.0;
}